./datos/geojson/votos_cnt_circ.geojson
./datos/geojson/votos_pct_circ.geojson
./datos/BD/votos_eleccion_5_table.csv
./datos/BD/votos_eleccion_8_table.csv
./datos/BD/votos_eleccion_1_table.csv
./datos/BD/votos_eleccion_6_table.csv
./datos/BD/votos_eleccion_3_table.csv
./datos/BD/votos_eleccion_12_table.csv
./datos/BD/votos_eleccion_10_table.csv
./datos/BD/votos_eleccion_0_table.csv
./datos/BD/votos_eleccion_14_table.csv
./datos/BD/votos_eleccion_2_table.csv
./datos/BD/votos_eleccion_16_table.csv
./datos/info/circuitos_dpto_prov.geojson
./datos/info/departamento.json
./datos/Solo_ResultadosProvisorios_bkp/ResultadosElectorales_PASO2011/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios_bkp/ResultadosElectorales_PASO2017/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios_bkp/ResultadosElectorales_General2017/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios_bkp/ResultadosElectorales_General2015/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios_bkp/ResultadosElectorales_Ballotage2015/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios_bkp/ResultadosElectorales_General2011/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios_bkp/ResultadosElectorales_PASO2015/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios_bkp/ResultadosElectorales_PASO2013/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios_bkp/ResultadosElectorales_General2013/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios_bkp/ResultadosElectorales_General2021/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios_bkp/ResultadosElectorales_PASO2021/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios_bkp/ ResultadosElectorales_PASO2019/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios_bkp/ ResultadosElectorales_General2019/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios/ResultadosElectorales_PASO2011/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios/ResultadosElectorales_PASO2017/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios/ResultadosElectorales_General2017/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios/ResultadosElectorales_General2015/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios/ResultadosElectorales_Ballotage2015/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios/ResultadosElectorales_General2011/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios/ResultadosElectorales_PASO2015/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios/ResultadosElectorales_PASO2013/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios/ResultadosElectorales_General2013/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios/ResultadosElectorales_General2021/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios/ResultadosElectorales_PASO2021/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios/ ResultadosElectorales_PASO2019/ResultadosElectorales.csv
./datos/Solo_ResultadosProvisorios/ ResultadosElectorales_General2019/ResultadosElectorales.csv
